body{
    background-color: rgb(244, 247, 96);
}
.parent{
    margin-left: 32em;
}
.box{
    height: 120px;
    width: 120px;
    border: black 2px solid;
    margin-bottom: 40px;
}
.box1{
    background-color: cadetblue;
    transition: width 2s ;
}
.box1:hover{
    width: 300px;
}
.box2{
    background-color: darkorchid;
    transition: width 3s, height 3s ;
    transition-delay: height 2s;
}
.box2:hover{
    width: 300px;
    height: 300px;
}
.box3{
    background-color: dodgerblue;
    transition: width 2s linear;

}
.box3:hover{
    width: 280px;
}
.box4{
    background-color: chartreuse;
    transition: width 1s ease;
}
.box4:hover{
    width: 280px;
}
.box5{
    background-color: rgb(206, 13, 93);
    transition: width 1s ease-in;
}
.box5:hover{
    width: 280px;
}
.box6{
    background-color: rgb(102, 11, 114);
    transition: width 2s ease-out;
}
.box6:hover{
    width: 280px;
}
.box7{
    background-color: rgb(19, 151, 58);
    transition: width 3s ease-in-out;
}
.box7:hover{
    width: 280px;
}