.parent{
    background-position: center;
    position: relative;
    width: 100%;
    border-left: 10px solid rgb(235, 87, 19);
    border-right:10px solid rgb(10, 109, 55);
    border-top: 5px solid white;
    margin-left: -10px;
    margin-top: -5px;
    overflow-x: hidden;
}
.sky{
    background-image: url(./images/sky.jpg);
    width: 100%;
    height: 96vh;
   
}
.sun{
    position: absolute;
    width: 150px;
    right: 10px;
    top: 60px;
    animation: sun 120s linear 0s infinite;
}
@keyframes sun {
    100%{
        transform: translateX(-1000px);
    }
}

.road{
    background-image: url(./images/road.jpg);
    width: 500%;
    height: 25vh;
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0;
    animation-name: road;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes road {
    100%{
        transform: translateX(-3600px);
    }
}
.city{
    background-image: url(./images/city.png);
    position: absolute;
    display: block;
    width: 500%;
    height: 230px;
    bottom: 144px;
    animation-name: city;
    animation-duration: 42s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes city {
    100%{
        transform: translateX(-2600px);
    }
}
.car{
    position: absolute;
    display: block;
    bottom: 40px;
    left: 28em;
    animation: car 2s linear infinite alternate-reverse;
}
@keyframes car {
    50%{
        transform: translateY(-2px);
    }
    10%{
        transform: translateY(1.7px);
    }
}
.wheel1{
    width: 65px;
    position: absolute;
    bottom: 10px;
    left: 2.1em;
    animation-name: wheel1;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes wheel1 {
    100%{
        transform: rotate(360deg);
    }
}
.wheel2{
    width: 65px;
    position: absolute;
    bottom: 10px;
    left: 16.2em;
    animation-name: wheel2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes wheel2 {
    100%{
        transform: rotate(360deg);
    }
}
.head{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 24em;
}
.div{
    font-size: 35px;
    font-weight: 700;
}
.div1{
    background-color: sandybrown;
}
.div2{
    background-color: whitesmoke;
}
.div3{
    background-color: green;
}
.flag{
    width: 40px;
    position: absolute;
    top: 16px;
    right: 35px;
}